<html>
<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Input name" />
            <button type="submit">Submit</button>
        </form>
    </div>
    {{#text}}
    <div>
    <b>Hi {{text}} !!!</b>
    </div>
    {{/text}}
    <div>The last five names</div>
    {{#names}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
    </div>
    {{/names}}
</body>
</html>